.details-body-container {
  display: flex;
  flex-direction: column;
}

.details-restaurant-info-section {
  display: flex;
  background-color: #e0dfdf;
  padding: 25px;
  height: 180px;
}

.details-restaurant-image {
  height: 180px;
  width: 230px;
}

.details-restaurant-info {
  display: flex;
  flex-direction: column;
  padding-left: 60px;
  width: 45%;
}

.details-restaurant-name > p {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 5px;
}

.details-restaurant-locality > p {
  font-size: 15px;
  margin-bottom: 14px;
}

.details-restaurant-categories > p {
  font-size: 14px;
  margin-bottom: 14px;
}

.details-reataurant-rating-cost-info {
  display: flex;
  justify-content: space-between;
}

.details-restaurant-rating-info {
  display: flex;
  flex-direction: column;
}

.details-restaurant-icon {
  font-size: 14px;
  margin-bottom: 3px;
}

.details-restaurant-text {
  font-size: 11px;
  color: grey;
  margin: 0;
}

.details-restaurant-cost-info {
  display: flex;
  flex-direction: column;
}

.details-menu-item-section {
  display: flex;
  padding: 20px;
}

.details-menu {
  width: 45%;
  padding-left: 10px;
}

.details-menu > ul:first-child {
  padding-top: 0;
}

.details-menu-list-item > li {
  padding-left: 0;
  padding-right: 0;
  color: black;
  height: 40px;
}

.details-menu-item-type > div:first-child  {
  min-width: 35px;
}

.details-menu-item-type > div:nth-child(2) {
  width: 67%;
}

.details-menu-item-type > div:nth-child(3) {
  min-width: 14px;
}

.details-menu-item-type > div:nth-child(4) {
  min-width: 40px;
}

.details-menu-item-type > div:last-child {
  min-width: 35px;
}

.fa-circle {
  font-size: 14px;
}

.fa-rupee-sign {
  font-size: 13px;
}

@media only screen and (max-width: 769px) {
  .details-restaurant-info-section {
    flex-direction: column;
    align-items: center;
    padding-top: 6px;
    height: 285px;
  }

  .details-restaurant-image {
    height: 150px;
    width: 250px;
  }

  .details-restaurant-info {
    align-items: center;
    padding: 0;
    width: 100%;
  }

  .details-restaurant-name > p {
    font-size: 22px;
    margin-top: 9px;
    margin-bottom: 3px;
  }
  
  .details-restaurant-locality > p {
    font-size: 13px;
    margin-bottom: 10px;
  }
  
  .details-restaurant-categories > p {
    font-size: 12px;
    margin-bottom: 10px;
    text-align: center;
  }

  .details-reataurant-rating-cost-info {
    text-align: center;
    width: 300px;
  }
  
  .details-restaurant-icon {
    font-size: 12px;
    margin-bottom: 2px;
  }
  
  .details-restaurant-text {
    font-size: 9px;
  }

  .details-menu-item-section {
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
  }

  .details-menu {
    width: 100%;
    padding-left: 0;
  }

  .details-menu-list-item {
    padding: 0;
    margin: 0 20px;
  }

  .details-menu-list-item > .MuiListSubheader-root {
    font-size: 13px;
  }

  .details-menu-item-type > div:nth-child(2) > span {
    font-size: 15px;
  }

  .details-menu-item-type > div:nth-child(4) > span {
    font-size: 15px;
  }

  .details-menu-item-type > div:last-child > svg{
    font-size: 20px;
  }

  .fa-circle {
    font-size: 13px;
  }
  
  .fa-rupee-sign {
    font-size: 12px;
  }

}

@media only screen and (max-width: 500px) {

  .details-menu-list-item {
    margin: 0 15px;
  }

}

@media only screen and (max-width: 360px) {

  .details-restaurant-info-section {
    height: 290px;
  }

  .details-reataurant-rating-cost-info {
    width: 280px;
  }

  .details-menu-list-item > .MuiListSubheader-root {
    font-size: 12px;
  }

  .details-menu-item-type > div:nth-child(2) > span {
    font-size: 14px;
  }

  .details-menu-item-type > div:nth-child(4) > span {
    font-size: 14px;
  }

  .details-menu-item-type > div:last-child > svg{
    font-size: 18px;
  }

  .fa-circle {
    font-size: 12px;
  }
  
  .fa-rupee-sign {
    font-size: 11px;
  }


}

@media only screen and (max-width: 332px) {

  .details-reataurant-rating-cost-info {
    width: 250px;
  }

}

@media only screen and (max-width: 294px) {

  .details-reataurant-rating-cost-info {
    width: 230px;
  }

}